<div class="px-2.5">
  <div data-controller="productions" data-days-productions="<%= productions_per_day(user) %>" id="production_chart">
    <canvas id="daysProd" style="width:100%;max-width:700px; height: 170px"></canvas>
  </div>
</div>
