<div class="bg-white w-full h-full shadow-lg rounded-lg">
  <div class="px-2 font-bold">
    <h1 class="text-3xl py-2">Produtos</h1>
  </div>
</div>
<div>
  <div>
    <%= render 'table'%>
  </div>
</div>
